@page "/"
<PageTitle>Home</PageTitle>
<MudStack AlignItems="AlignItems.Center" Row="true">
  <h1>Welcome, Jedi!</h1>
  <MudIcon Color="Color.Info" Icon="@Icons.WavingHand" Size="Size.Large" />
</MudStack>
Welcome to my Aspire-Blazor-FluentUI-gRPC demo & gRPC-JSON benchmark!
